@import "../../colors/colors";

.container {
    padding: 60px 0px;

    @media screen and (max-width: 450px) {
        padding-top: 20px;
    }
}

// Carousel style start


.rootCarousel {
    padding: 0px 50px;

    @media screen and (max-width: 450px) {
        padding: 0px;
    }
}

.indicator {
    width: 12.94px;
    height: 12.94px;
    background-image: linear-gradient(135.85deg, #6274E7 11.98%, #8752A3 87.62%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25);
    z-index: 999;

    &::after {
        position: absolute;
        content: "";
        background-color: $white;
        width: 5.94px;
        height: 5.94px;
        border-radius: 100%;
    }
}

.controls {
    top: calc(100% - 13px);
    left: 20%;
    right: 20%;
    z-index: 999;

    @media screen and (max-width: 450px) {
        left: 10%;
        right: 10%;
    }
}

.control {
    border: 0px;
    background-color: transparent;
    border-radius: 0px;
    box-shadow: none;
}

.indicatorNot {
    display: none !important;
}

.indicators {
    bottom: -10px;
    gap: 11px;
}

.card {
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: block;
    text-decoration: none;
    background-color: $white;
    height: 100%;
}

.cardImg {
    width: 100% !important;
    height: auto;
    border-radius: 20px 20px 0px 0px;

}

.cardHeadingSection {
    display: flex;
    align-items: center;
}

.textSection {
    padding: 20px;
}

.author {
    font-size: 12px;
    font-weight: 400;
    margin: 0px;
    color: $black;
}

.cardHeading {
    font-size: 14px;
    font-weight: 700;
    margin: 0px;
    padding: 20px 0px;
    color: $black;
}

.cardDescription {
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    color: $black;
}

.readMore {
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    display: flex;
    color: "#6671E1";
    margin-top: 40px;
    align-items: center;
    text-decoration: none;
}

.dark {
    color: $white !important;
    background-color: #1C1C1C;
}


// Carousel style End