@import "../../../../colors/colors";

.root {
    backdrop-filter: blur(100px);
    padding-bottom: 2.4em;
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden;
    background-image: url("../../../../images/home/workFlow/work_flow_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @media screen and (max-width:938px) {
        padding-bottom: 0em;
    }

    @media screen and (max-width:790px) {
        display: none;
    }
}

.transform_work {
    transform: scale(76%);

    @media screen and (max-width:938px) {
        transform: scale(74%);
    }
}

.heading {
    margin: 0px;
    font-size: 24px;
    font-weight: 600;
    color: $black;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: auto;
    padding-top: 38px;

    @media screen and (max-width:938px) {
        transform: scale(85%);
    }
}

.col {
    width: 338px;
}

.center_col {
    width: 434px;
}

.right_col {
    width: 330px;
}

.borderGradient {
    background-image: linear-gradient(136.83deg, #6274E7 0%, #8752A3 100%);
    padding: 5px;
    box-shadow: 0px 0px 17px 2px #E5B4FF;
    border-radius: 25px;
}

.center_content {
    background-image: linear-gradient(136.83deg, rgba(98, 116, 231, 0.1) 0%, rgba(135, 82, 163, 0.1) 100%);
    background-color: #fff;
    z-index: 9999;
    border-radius: 25px;
    padding: 33px 18px;
}

.logoSection {
    text-align: center;
    display: flex;
    margin-bottom: 15px;
}

.logo {
    width: 88px;
    margin: auto;
}

.card {
    background-color: #F0F2FF;
    box-shadow: -6px -6px 12px #FFFFFF,
        6px 6px 12px rgba(135, 82, 163, 0.28);
    margin-bottom: 18px;
    border-radius: 25px;
}

.innerCardLeft {
    display: flex;
    padding: 18px;
    padding-bottom: 0px;


    & h3 {
        margin: 0px;
        font-weight: 600;
        font-size: 14px;
        margin-left: 18px;
    }
}

.cardImg {
    width: 24px;

    & img {
        width: 100%;
    }
}

.lightText {
    color: #5A5A5A;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 20px;
}

.darkText {
    color: $black;
    font-weight: 600;
    margin: 0px;
    font-size: 14px;
}

.modelRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 28px 18px 0px;
}

.modelsImgSection {
    display: flex;
    align-items: center;
}

.modelsImg {
    width: 28.7px;

    & img {
        width: 100%;
        display: inline-block;
    }
}

.marginCenterImg {
    margin: 0px 8px;
}

.feedbackImgRow {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.feedbackCol {
    width: 50%;
    text-align: center;
    margin-bottom: 17px;

    & p {
        font-weight: 400;
        margin: 0px;
        color: $black;
        font-size: 14px;
        margin-top: 3px;
    }

    & img {
        width: 18px;
    }
}

.feedbackSection {
    padding: 20px 18px;
}

.description_smallCard {
    color: $black;
    font-weight: 400;
    margin: 0px;
    font-size: 12px;
    padding-top: 5px;
}

// 
.innerCardRight {
    display: flex;
    padding: 30px 15px;
}

.innerCardRightImg {
    width: 28px !important;
    margin-right: 10px;

    & img {
        width: 100%;
    }
}

.right_content {
    width: 83%
}

.improve_model {
    display: flex;
    justify-content: center;
    margin-top: 60px;

    & div {
        padding: 10px 38px;
    }
}

// Arrow Css

.left_first_card {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url(../../../../images/arrow-right-gradient.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: -1;
        height: 30px;
        width: 51px;
        right: -44px;
        top: 40%;
    }

    &::after {
        content: "";
        position: absolute;
        background-image: url(../../../../images/upArrowGraidentLong.png);
        background-repeat: no-repeat;
        background-position: center;
        width: 33px;
        right: 131px;
        height: 142px;
        background-size: 100%;
        z-index: -1;
    }
}


.right_first_card {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url(../../../../images/arrow-right-gradient.png);
        width: 51px;
        height: 30px;
        top: calc(50% - 15px);
        left: -60px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: -1;
    }
}

.right_second_card {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-image: url(../../../../images/arrow-right-gradient.png);
        width: 51px;
        height: 30px;
        top: calc(50% - 15px);
        left: -60px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: -1;
    }
}

.right_third_card {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background-color: #6274E7;
        width: 4px;
        top: -175px;
        bottom: -79px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: -1;



    }

    &::after {
        content: "";
        position: absolute;
        background-image: url(../../../../images/bottomLineGraidentLong.png);
        width: 849px;
        height: 21px;
        bottom: -89px;
        right: 163px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: -1;

    }

}

// 
.shadowBoxCenterRow {
    background: #F0F2FF;
    box-shadow: -6px -6px 12px #FFFFFF, 6px 6px 12px rgba(135, 82, 163, 0.28);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    padding: calc(4px + 9 * (100vw - 300px) / 1000) calc(1px + 6 * (100vw - 300px) / 1000);
}

.shadowBoxCenterCol {
    width: 48%;

}

.shadowBoxCenterColBorder {
    border-right: 1px dashed #C6CDFF;
}

.shadowBoxCenterImgBox {
    display: flex;
    justify-content: center;
}

.shadowBoxCenterImg {
    width: 28px;
    margin: auto;

    & img {
        width: 100%;
    }
}

.centerCardText {
    margin: 0px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 7px;
}

.darkTextCenter {
    margin-top: 10px;
    text-align: center;
}

.centerCard {
    margin-top: 16px;
}


// 
.arrow_right {
    width: 7.5%;
    height: 6%;
    background-color: #6274E7;
    position: absolute;
    // top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
    border-radius: 2px;
    bottom: -11%;

    &::before {
        // content: "";
        // width: 25px;
        // height: 3px;
        // background: #6274E7;
        // position: absolute;
        // top: -150%;
        // margin-top: -1px;
        // right: -257%;
        // transform: translate(-50%, -50%) rotate(135deg);
        content: "";
        position: absolute;
        background-color: #6274E7;
        width: 4px;
        top: -97%;
        bottom: calc(-221% + 8px);
        right: -65%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        z-index: 9999999;
        transform: translate(-302%, -50%) rotate(46deg);
    }
}

.arrow_mask {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    backdrop-filter: blur(100px);
    position: absolute;
    left: 15%;
    top: -15%;
    right: 0%;
    bottom: 0%;
    z-index: -11;
}