@import "../../../colors/colors";

.root {
    background-color: $secondaryGradient;
    padding: 56px 16px;
    background-image: url("./images/uptrain-example-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    padding-bottom: 65px;
}

.heading {
    margin: 0px;
    font-size: 24px;
    font-weight: 600;
    color: $white;
    text-align: center;
    padding-bottom: 5px;
}

.container {
    padding: 60px 0px;
    align-items: center;

    @media screen and (max-width: 450px) {
        padding-top: 20px;
    }
}

// Carousel style start
.rootCarousel {
    padding: 0px 50px;

    @media screen and (max-width: 450px) {
        padding: 0px;
    }
}



.indicator {
    width: 12.94px;
    height: 12.94px;
    background-image: linear-gradient(135.85deg, #6274E7 11.98%, #8752A3 87.62%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25);
    z-index: 999;

    &::after {
        position: absolute;
        content: "";
        background-color: $secondaryGradient;
        width: 5.94px;
        height: 5.94px;
        border-radius: 100%;
    }
}

.controls {
    top: calc(100% - 13px);
    left: 28%;
    right: 28%;
    z-index: 999;


    @media screen and (max-width: 650px) {
        left: 10%;
        right: 10%;
    }
}

.control {
    border: 0px;
    background-color: transparent;
    border-radius: 0px;
    box-shadow: none;
}

.indicatorNot {
    display: none !important;
}

.indicators {
    bottom: -10px;
    gap: 11px;
}

// card

.card {
    background-image: linear-gradient(115.78deg, rgba(98, 116, 231, 0.6) 8.78%, rgba(135, 82, 163, 0.6) 94.21%);
    border-radius: 25px;
    display: block;
    text-decoration: none;
    padding: 30px 16px;
    height: 150px;
    transform: skewX(1deg);
    transition: .4s;
    overflow: hidden;

    &:hover {
        background-image: linear-gradient(115.78deg, #6274E7 8.78%, #8752A3 94.21%);
        height: 208px;
        transform: skew(0deg);
    }

    &:hover .readMoreBtn {
        display: flex;
    }
}

.cardHeading {
    font-weight: 700;
    font-size: 20px;
    color: $white;
}

.readMoreBtn {
    color: $white;
    text-decoration: none;
    margin-top: 54px;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    display: none;
}

.readMoreBtnIcon {
    font-size: 13px;
}


// Carousel style End