@import "../../../../colors/colors";

.root {
    background-image: linear-gradient(101.06deg, rgba(98, 116, 231, 0.1) -1.13%, rgba(135, 82, 163, 0.1) 101.02%);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    @media screen and (max-width:1033px) {
        padding-top: 2em;
        padding-bottom: 4em;
    }
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1512px;
    margin: auto;

    // @media screen and (max-width: 1033px) {
    //     flex-direction: column;
    // }
}



.leftImg {
    background-image: url("../../../../images/home/about/about-bg.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;

    align-items: center;
    display: flex;
    width: 45%;
    aspect-ratio: 2/2.2;

    // @media screen and (max-width:1033px) {

    //     order: 2;
    //     width: 100%;
    // }
}

.rightSideCol {
    padding: 2em 0em;
    width: 48%;

    // @media screen and (max-width:1033px) {
    //     padding: 2em 1em;
    //     order: 1;
    //     width: 100%;
    // }
}

.content {
    width: 90%;

    @media screen and (max-width: 790px) {
        width: 100%;
    }
}

.heading {
    margin: 0px;
    font-size: 24px;
    font-weight: 600;
    color: $black;

    @media screen and (max-width: 1170px) {
        font-size: 19px;
    }

    @media screen and (max-width:1033px) {
        text-align: center;
    }
}

.description {
    margin: 16px 0px;
    font-size: 18px;
    font-weight: 400;
    color: $black;

    @media screen and (max-width: 1170px) {
        font-size: 14px;
    }

    @media screen and (max-width:1033px) {
        text-align: center;
    }
}


.whiteBox {
    margin-top: 40px;
    padding: 16px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid $white;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    aspect-ratio: 2/1.3;

    // @media screen and (max-width: 790px) {
    //     margin-top: 80px;
    // }
}

.blackBox {
    height: 100%;
    width: 100%;
    background-color: #030000;
    border-radius: 15px;
    opacity: 0.8;

}

// 
.circle {
    width: 43%;
    height: 33%;
    border: 2px dashed #FFFFFF;
    border-radius: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.outerCircle {
    width: 80%;
    height: 80%;
    background: #FFFFFF;
    box-shadow: inset -6px -6px 14px rgba(0, 0, 0, 0.09);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerCircle {
    width: 90%;
    height: 90%;
    background: #F7F7F7;
    box-shadow: inset -6px -6px 14px #FFFFFF, inset 2px 2px 6px 1px rgba(0, 0, 0, 0.09);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentLeft {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 12%;
    position: relative;
}

.circleText {
    font-size: calc(14px + 15 * (100vw - 300px) / 1000);
    font-weight: 600;
    text-align: center;
    color: #9C87A7;
    margin: 0px;
}