// Variables for dark mode
$background-color: #111;
$text-color: #fff;
$user-message-bg: #1a1a1a;
$chatbot-message-bg: #333;

// Define styles for dark mode
.chatbot {
  background: url("./images/chatboxBackground.webp");
  background-color: $background-color;
  background-size: cover;
  background-position: center;
  color: $text-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 0;

  .textCont {
    .heading {
      text-align: center;
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 16px;
    }

    .parah {
      font-size: 20px;
    }
  }

  .inputCont {
    display: flex;
    width: 100%;
    max-width: 1100px;
    
    // Dropdown menu styles
    .dropdownContainer {
      .inputParah {
        color: #767676;
        font-size: 16px;
        margin: 0 0 3px;
      }
      
      .cont {
        flex-direction: column;
        background: linear-gradient(139deg, #212121 0%, #3f3e3f);
        border-radius: 14px;
        backdrop-filter: blur(10px);
        overflow: hidden;

        select {
          border: 0;
          margin-right: 0px;
          color: #f3f3f3;
          padding: 16px 26px;
          cursor: pointer;
          background: transparent;

          &:active {
            border:0;
          }

          option {
            border-radius: 14px;
            background-color: #333;
          }
        }
      }
    }
  }

  .chatWindow {
    width: 100%;
    max-width: 1100px;
    margin-top: 20px;

    .question {
      margin-top: 10px;
      width: 100%;
      border-radius: 14px;
      background: linear-gradient(139deg, #212121 0%, #3f3e3f);
      border: 0;
      backdrop-filter: blur(10px);
      color: #f3f3f3;
      padding: 16px 26px;
    }
  }

  .animationCont {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
  }

  .qualityCont {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .card {
      border-radius: 14px;
      background: linear-gradient(139deg, #212121 0%, #3f3e3f);
      border: 0;
      backdrop-filter: blur(10px);
      padding: 30px 22px;
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
    }

    .card h3 {
      font-size: 18px;
      font-weight: 500;
      color: #d0d0d0;
      min-height: 50px;
    }

    .card h3 span {
      font-size: 26px;
      color: #fefefe;
    }

    .card p {
      color: #898989;
      font-weight: 500;
      font-size: 16px;
    }

    .card button {
      color: #6274e7;
      background: transparent;
      border: 0;
      font-size: 16px;
    }

    .learnMore {
      cursor: pointer;
    }
  }

  .otherEvals {
    padding-top: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  // Message input styles
  .messageInput {
    background-color: $background-color;
    color: $text-color;
    border: 1px solid $text-color;

    input {
      color: $text-color;
    }

    button {
      color: $text-color;
      background-color: $background-color;
    }
  }

    // Media Queries for Mobile
  @media (max-width: 768px) {
    .chatbot {
      padding: 20px 0; 
    }

    .textCont {
      .heading {
        font-size: 24px;
      }

      .parah {
        font-size: 16px;
        padding-left: 5%;
      }
    }

    .inputCont {
      width: 90%;
      flex-direction: column;
      .dropdownContainer {
        margin: 0 0 16px;
        .cont {
          select {
            padding: 12px 20px;
            width: 100%;
          }
        }
      }
    }

    .chatWindow {
      width: 90%;
    }

    .cardsCont {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }

    .qualityCont {
      display: flex;
      width: 85%;
      flex-direction: column;
      .card {
        padding: 20px 18px; 
      }
    }

    .otherEvals {
      padding-top: 30px; 
    }
  }
}
