.inputContainer {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex: 1;

  .inputFeildContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 16px;

    .inputParah {
      color: #767676;
      font-size: 16px;
      margin: 0 0 3px;
    }

    .inputField {
      border-radius: 14px;
      background: linear-gradient(139deg, #212121 0%, #3f3e3f);
      border: 0;
      flex: 1;
      color: #f3f3f3;
      padding: 16px 26px;
    }
  }

  .sendButton {
    border-radius: 14px;
    background: linear-gradient(132deg, #6473e4 0%, #8654a7 100%);
    padding: 16px 32px;
    border: 0px;
    font-weight: 700;
    color: white;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;

    .inputField {
      width: 100%;
      margin: 0 0 8px;
    }

    .inputFeildContainer {
      width: 100%;
      margin: 0 0 8px;
    }
  }
}
