@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

.blog-pt {
  padding-top: 38px;
  margin: 0px !important;
}