@import "../../../../colors/colors";

.root{
    background-color: #f0f2ff;
    width: 345px;
    border-radius: 25px;
    box-shadow: -6px -6px 12px #FFFFFF, 6px 6px 12px rgba(135, 82, 163, 0.28);
    position: relative;
    margin: auto auto 60px;
}
.image{
   width:182px;
   height: 182px; 
   position: absolute;
   top: -25px;
   left: -14px;
}
.container{
    padding: 24px 0px 14px;
}
.heading{
    font-size: 14px;
    font-weight: 700;
    color: $black;
    margin: 0;
}
.designer{
    margin: 7px 0px 13px;
    font-size: 14px;
    font-weight: 400;
}
.link{
    width: 19px;
    height: 18px;
}
.para{
    margin: 0px;
    // padding: 40px 28px;
    font-size: 14px;
    font-weight: 400;
}