@import "../../../../colors/colors";

.root {
    background-image: linear-gradient(101.06deg, rgba(98, 116, 231, 0.1) -1.13%, rgba(135, 82, 163, 0.1) 101.02%), url("../../../../images//home//blog//home-blog-bg.png");
    width: 100%;
    padding: 4em 1em;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.heading {
    font-size: 24px;
    margin: 0px;
    color: $black;
    font-weight: 600;
    text-align: center;
}

.description {
    font-size: 16px;
    text-align: center;
    width: 60%;
    margin: 0px auto;
    padding: 20px 0px;
}

// Carousel style start

.rootCarousel {
    padding: 0px 50px;
}

.indicator {
    width: 12.94px;
    height: 12.94px;
    background-image: linear-gradient(135.85deg, #6274E7 11.98%, #8752A3 87.62%);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.4;
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25);

    &::after {
        position: absolute;
        content: "";
        background-color: #F5F5F5;
        width: 5.94px;
        height: 5.94px;
        border-radius: 100%;
    }
}

.controls {
    top: calc(100% - 13px);
    left: 20%;
    right: 20%;
}

.control {
    border: 0px;
    background-color: transparent;
    border-radius: 0px;
    box-shadow: none;
}

.container {
    padding: 60px 0px;
}

.indicators {
    bottom: -10px;
    gap: 11px;
}



.card {
    background: $white;
    border: 2px solid $white;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.cardHeadingSection {
    display: flex;
    align-items: center;
}


.textSection {
    padding: 20px;
}

.author {
    font-size: 12px;
    font-weight: 400;
    margin: 0px;
    color: $black;
}

.cardHeading {
    font-size: 14px;
    font-weight: 700;
    margin: 0px;
    padding: 20px 0px;
}

.cardDescription {
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
}

.readMore {
    font-size: 14px;
    font-weight: 400;
    margin: 0px;
    display: flex;
    color: $primary;
    margin-top: 40px;
    align-items: center;
    text-decoration: none;
}

// Carousel style End