@import "../../../colors/colors";

.root {
    background-image: linear-gradient(101.06deg, rgba(98, 116, 231, 0.1) -1.13%, rgba(135, 82, 163, 0.1) 101.02%), url("./images/home-blog-bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    padding: 4em 1em;
    overflow: hidden;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    position: relative;
    padding-bottom: 6em !important;
}

.heading {
    font-size: 24px;
    margin: 0px;
    color: $black;
    font-weight: 600;
    text-align: center;
}